.detail-viewport {
  height: 620px;
  width: 100%;  /*680px;  */
  padding: 0px;
  margin-bottom: 20px;
  margin-left: 0px !important;
  /* border: 1px solid black; */
}


.margin{
  margin: 10px !important;
}
.margin-left{
  margin-left: 10px !important;
}
.text-center{
  text-align: center !important;
}


