<!-- <form [formGroup]="form"> -->

<!-- <div id="contentDiv" class="width-65 textCenter scroller" ng-hide="selectedContact == null;"> -->
<!-- <div id="contentDiv" class="textCenter scroller" [hidden]="selectedContact == null"> -->
<!-- <div *ngIf="(selectedContact | json) != '{}'" id="contentDiv" class="textCenter scroller" > -->
<div *ngIf="selectedContact != null" id="contentDiv" class="textCenter scroller" >

  <cdk-virtual-scroll-viewport class="detail-viewport" itemSize="60">

  <div class="margin-20">

      <div class="avatarLarge relative block floatNone floatCenter icon  bg-azul-6 marginUpDown-30">
          <img src="assets/images/person_white_72.png">
      </div>

      <h3 class="azul">{{firstName(selectedContact)}}
               <strong>{{lastName(selectedContact)}}</strong>
      </h3>
      <h4 class="normal">{{selectedContact.funcion}}</h4>

      <div class="separadorBlancoSimple"></div>


      <div class="separadorBlancoSimple"></div>
      <div class="units-row">
          <div class="unit-50 textRight ">

              <p class="gris">Area</p>
              <p class="negro font-size-15">{{formatArea(selectedContact)}}</p>
              <div class="separadorBlancoSimple"></div>

              <p class="gris">Cod. Estructura</p>
              <p class="negro font-size-15">{{formatCodArea(selectedContact)}}</p>
              <div class="separadorBlancoSimple"></div>


          </div>
          <div class="unit-50 textLeft">

              <a (click)="sendEmailToContact(selectedContact)" class="inline-block">
                  <p class="gris">Correo</p>
                  <p class="negro font-size-18">{{selectedContact.email}}</p>
              </a>

              <div class="separadorBlancoSimple"></div>

              <!-- <div ng-repeat="phone in selectedContact.Telefonos"> -->
              <div *ngFor="let phone of selectedContact.Telefonos; index as i">
                  <p class="gris">{{phoneType(phone)}}</p>
                  <p class="negro font-size-18">{{phoneNumber(phone)}}</p>
                  <div class="separadorBlancoSimple"></div>

              </div>
          </div>
    </div>

    <!-- Informacion de la fejatura -->
    <!-- <div ng-hide="selectedContactBoss == null" (click)="showContactInfo(selectedContactBoss)" style="cursor: pointer"> -->
    <div *ngIf="selectedContactBoss != null" (click)="showContactInfo(selectedContactBoss)" style="cursor: pointer">
        <div class="separadorBlancoSimple"></div>
          <div class="separadorBlancoSimple"></div>
          <div class="units-row">
            <div class="unit-50 textRight ">

              <p class="gris">Jefatura</p>
              <p class="negro font-size-15">{{selectedContactBoss.nombre}}</p>
              <div class="separadorBlancoSimple"></div>

            </div>
            <div class="unit-50 textLeft">

              <p class="gris">&nbsp;</p>
              <p class="negro font-size-15">{{selectedContactBoss.funcion}}</p>
              <div class="separadorBlancoSimple"></div>

              <a (click)="sendEmailToContact(selectedContactBoss)" class="inline-block">
                  <p class="gris">Correo</p>
                  <p class="negro font-size-18">{{selectedContactBoss.email}}</p>
              </a>

              <div class="separadorBlancoSimple"></div>
              <div *ngFor="let phone of selectedContactBoss.Telefonos; index as i">
                  <p class="gris">{{phoneType(phone)}}</p>
                  <p class="negro font-size-18">{{phoneNumber(phone)}}</p>
                  <div class="separadorBlancoSimple"></div>

              </div>

            </div>
          </div>

          <div class="units-row">
              <div class="unit-50 textRight ">
                  &nbsp;
              </div>
              <div class="unit-50 textLeft">

              </div>
          </div>
      </div>

    </div>

    </cdk-virtual-scroll-viewport>

    <div class="btn-toolbar text-center well"></div>

    <!-- <a class="button azul small" title="Contactos" alt="Contactos" -->
      <a class="button azul col-xs-2 margin" title="Contactos" alt="Contactos"
          (click)="showRelatedContacts(selectedContact)"> <img
              src="assets/images/ic_business_white_48dp_2x.png"> Contactos del área </a>

      <!-- <a class="button naranja small" title="Descargar" alt="Descargar" -->
      <a class="button naranja col-xs-2 margin" title="Descargar" alt="Descargar"
          (click)="downloadVCardForContact(selectedContact)"> <img
              src="assets/images/file_download_72.png"> Descargar</a>

</div>

<!-- </form> -->
