.list-viewport {
  height: 550px;
  width: 100%;  /*680px;  */
  padding: 0;
  margin-left: -20px !important;
  /* border: 1px solid black; */
}

.example-dt {
  height: 30px;
  font-weight: bold;
}

.example-card {
  max-width: 400px;
}

.card-avatar-image {
  background-image: "assets/images/person_72.png";
  background-size:auto;
}
