<!-- <div id="sideDiv" class="width-35 padding-20 bg-gris-2 padding-10 paddingBottom-0"> -->
<div id="sideDiv" class="padding-20 bg-gris-2 padding-10 paddingBottom-0">
  <div class="separadorBlancoSimple"></div>

  <!-- input de texto a buscar -->
  <!-- <input name="" type="text" class="buscarLarge " title="Buscar" placeholder=" Buscar contacto"
  ng-model="searchText" ng-change="inputSearchChanged()"
  ng-model-options="{debounce: 450}" autofocus> -->
  <input name="" type="text" class="buscarLarge" title="Buscar" placeholder=" Buscar contacto"
  [(ngModel)]="searchText" (input)="inputSearchChanged()"
  ngControlOptions="{debounce: 450}" autofocus>

  <!-- lista de contactos que cumplen con el texto a buscar -->
  <h3>Contactos</h3>
  <ul id="listDiv" class="arrow2 listRight fontsize-14 scroller" style="height: 85%">

    <!-- <div id="remoteContactList" ng-repeat="contact in remoteContacts track by contact.cuil"> -->
    <div id="remoteContactList" *ngFor="let contact of remoteContacts; let i = index;">
        <div (click)="showContactInfo(contact)" style="cursor: pointer">

          <li>
            <!-- <div> -->
                <img src="assets/images/person_72.png" class="icon16 margin-5"
                ng-hide="contactos.isInFav">
                <strong>{{lastName(contact)}}</strong>,{{firstName(contact)}}
            <!-- </div> -->
            <div class="marginLeft-25 italic" >
                {{funcion(contact)}}
                <br>
                {{formatArea(contact)}}
            </div>

          </li>



      </div>
    </div>

  </ul>

</div>
