<div id="sideDiv" class="width-450 padding-10 bg-gris-2 paddingBottom-10 marginBottom-0">
  <div class="separadorBlancoSimple"></div>

  <!-- input de texto a buscar -->
  <!-- ng-model="searchText" ng-change="inputSearchChanged()"
  ng-model-options="{debounce: 450}" autofocus> -->
  <input name="" type="text" class="buscarLarge" title="Buscar" placeholder=" Buscar contacto"
  [(ngModel)]="searchText" (input)="inputSearchChanged()"
  ng-model-options="{debounce: 450}" autofocus>

  <!-- ngControlOptions="{debounce: 450}" autofocus> -->

  <!-- lista de contactos que cumplen con el texto a buscar -->
  <h3>Contactos</h3>
  <!-- <ul id="listDiv" class="arrow2  fontsize-14 scroller" style="height: 85%"> -->
  <ul id="listDiv" class="arrow2 listRight">
      <cdk-virtual-scroll-viewport class="list-viewport" itemSize="60">

      <dl class="lista-dl">
        <ng-container *cdkVirtualFor="let contact of remoteContacts; let i = index;">

            <div (click)="showContactInfo(contact)" style="cursor: pointer">

            <li>
              <img src="assets/images/person_72.png" class="icon16 margin-5"
              [hidden]="remoteContacts.isInFav">
              <strong>{{lastName(contact)}}</strong>,{{firstName(contact)}}
              <div class="marginLeft-25 italic" >
                  {{funcion(contact)}}
                  <br>
                  {{formatArea(contact)}}
              </div>

            </li>

            <!-- <dt class="example-dt"> -->
            <!-- <dt class="example-dt">{{lastName(contact)}}</dt> -->
            <!-- </dt> -->

          </div>

        </ng-container>
      </dl>

      <!-- </div> -->

    </cdk-virtual-scroll-viewport>
  </ul>

</div>
